.form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 1.875rem;
    line-height: 1.5;
    border-radius: 1.2rem;
}

table th {
    font-size: 1.9rem;
    font-weight: 400
}

table td {
    font-size: 1.5rem;
    font-weight: 300
}