h1 Hola #{name},
p El Departamento de Recursos Humanos le recuerda que tiene documentos pendientes de firma en su bandeja de Documentos Laborales Electrónicos.
p Restan 12 horas para regularizar el estado.
p Atentamente.
