<?xml version="1.0" encoding="utf-8"?>
<LacunaPkiLicense xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>3</Version>
  <Id>c22cc270-21ad-4e8b-9873-c558d0d3ed24</Id>
  <Licensee>CODE100</Licensee>
  <IssueDate>2023-03-23 15:45:31Z</IssueDate>
  <VersionReleaseDateLimit>2023-06-10 15:00:00Z</VersionReleaseDateLimit>
  <Signature>pC8VWJdVt+XAVQIwNetjjMAFNTH0r5Bf/5LnIM42MhajZuE5IWVYgtb5dWaJgmlSkW3lkJ5s1KD9oiKSLKz68k2zickBOMjrNAPNv3iNnJZb2Of7D720cJYYCDFDeQ3P1MWQ2EKbZtF1rSQk+pIO7VIKryh43KC/iTAvyi4b3gcV1Gcp2j/FR4H9UwdtdvPsVljAp67lf9/Cg2zVerjJbxlY6mquzeJlhdRZCVdFZXobc8WWRfWGzIpVaEL8kmOypqvN9yMwhARvtB/cPzxcPqKiZJXpKCsqvoWkAMQWLe9ro1EvnrE/zB7BJngpeduwX6vcgVvyz8E/2Vd36WgDNA==</Signature>
  <Features>127</Features>
</LacunaPkiLicense>